<div class="fh5co-hero">
    <div class="fh5co-overlay"></div>
    <div class="fh5co-cover text-center" data-stellar-background-ratio="0.5"
         style="background-image: url(/images/main_cover.png);">
        <div class="desc animate-box">
            <h2>2018春节期间加盟哈福地产</h2>
            <span>经纪人免一年Broker Split 的费用!</a></span>
            <span><a class="btn btn-primary btn-lg" href="#" onclick="didHitGetStarted()">现在注册</a></span>
        </div>
    </div>
</div>