<div id="fh5co-feature-product" class="fh5co-section-gray">
    <div class="container">
        <div class="row row-bottom-padded-md">
            <div class="col-md-12 text-center heading-section">
                <h3>哈福地产为你提供行业成功之道</h3>
                <p>公司实行一对一，老带新的培训模式，让新手能够快速进入工作状态。 我们不在意你是否拥有业内经验，我们只需要你能有积极的学习心态，敢于创新的能力和接受挑战的勇气。.</p>
            </div>
            <div class="col-md-12 text-center">
                <!--<p><a href="#" class="btn btn-primary btn-lg">现在注册</a></p>-->
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-center animate-box">
                <p><img src="/images/reason_cover.jpg" alt="Half Realty" class="img-responsive"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="feature-text">
                    <h3>丰富的业内培训</h3>
                    <p>我们提供详尽的知识解答</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature-text">
                    <h3>广泛的客户人脉</h3>
                    <p>我们拥有最优质的潜在客户群</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature-text">
                    <h3>坚实的业务支持</h3>
                    <p>我们的业务经过千锤百炼，已经受到无数购房者的认可</p>
                </div>
            </div>
        </div>


    </div>
</div>