<div class="fh5co-hero">
    <div class="fh5co-overlay"></div>
    <div class="fh5co-cover text-center" data-stellar-background-ratio="0.5"
         style="background-image: url(/images/main_cover.png);">
        <div class="desc animate-box">
            <h2>感谢您的加入</h2>
            <span>哈福地产期待与您共创美好的未来！</span>
            <!--<span><a class="btn btn-primary btn-lg" href="#">现在注册</a></span>-->
        </div>
    </div>

</div>a